*{
	margin:0;
	padding:0;
}
body{
	background-color:#007f7b;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet Ms", Verdana, sans-serif;
}
.contenedor{
	width:500px;
	margin:50px auto;
}
.formulario{
	float:left;
	width:100%;
	padding:10px 20px 20px 20px;
	box-sizing:border-box;
	background:#fff;
	color:#666;
	font:12px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.formulario label{
	display:block;
	margin:0px 5px;
}
.formulario1{
	color:#fff;
	line-height:25px;
	border-radius:5px;
	width:100%;
	height:30px;
	padding-left:10px;
	margin-top:2px;
	border:1px solid #b00000;
	background:#ffa758;
}
h1{
	color:#fff;
	font-size:24px;
	text-align:center;
	padding-bottom:10px;
	text-shadow:2px 2px 1px #000;
}
.formulario label > span{
	float:left;
	margin-top:5px;
	color:#792e00;
}
.formulario .button{
	background:#5c2900;
	border-radius:5px;
	border:none;
	padding:10px 25px;
	margin-top:10px;
	color:#fff;
}
.formulario .buttondis{
	background:#808080;
	border-radius:5px;
	border:none;
	padding:10px 25px;
	margin-top:10px;
	color:#fff;
}
.formulario .button:hover{
	background:#00ccff;
}
.formulario input[type="text"], .formulario input[type="password"]{
	color:#555;
	line-height:25px;
	width:100%;
	height:30px;
	padding-left:10px;
	margin-top:2px;
	border:1px solid #b00000;
	background:#ffc38d;
}
.butto:hover{
	background:#00ccff;
}

.butto{
	background:#5c2900;
	border-radius:5px;
	border:none;
	padding:10px 25px;
	margin-top:10px;
	color:#fff;
}
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}